.App {
  text-align: center;
}

.contenedorFrase{
  background-color: white;
  width: 60%;
  margin: 50px auto;
  padding: 25px;
}

.contenedorFrase button{
  border-radius: 60%;
  background: rgb(233, 15, 15);
  color: white;
}
